<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../axios.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="pic">
			<button v-on:click="getpic">获取图片</button>图片地址：{{path}}<br>
			<img :src="path" /><br/>
		
			是否删除：
			<input type="radio" name="del" value="1" v-model="del">是 
			<input type="radio" name="del" value="0" v-model="del">否<br/>
			
			图片备注：<br>
			<textarea name="desc" cols="50" rows="20" v-model="tag"></textarea></br>

			<button type="submit" value="确定" v-on:click=submit()>保存</button>
		</div>
	</body>
	
	<script>
		new Vue({
		  el: '#pic',
		  data: {
			  id: '389',
			  path: '',
			  del: '0',
			  tag: ''
		  },
		  methods: {
			  getpic: function(){
				  var that = this;
				  axios.get('http://localhost:8080/getPicture?id='+that.id).then(function (response) {
				  		that.path = '../static/' + response.data.path;
				  })
			  },
			  submit: function(){
				  var that = this;
				  axios.post("http://localhost:8080/setPicture",{
				                  id: that.id,
				                  path: that.path,
				                  del: that.del,
				                  tag: that.tag,
				              }).then(res=>{
				                 console.log(res);
				              })
				  console.log(that.del);
			  }
		  }
		});
    </script>
</html>
