<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="\vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		</p>
		<div id="d1">
			{{msg}}
			<input v-model="msg"></br>
			<button v-on:click="reverseMessage">反转消息</button>
			<span v-bind:title="message">
			    鼠标悬停几秒钟查看此处动态绑定的提示信息！
			</span>
			<p v-if="seen">现在你看到我了</p>
			<ol>
			    <li v-for="todo in todos">
			      {{ todo.text }}
			    </li>
			</ol>
		</div>
	</body>
	<script type="text/javascript">
		var d1 = new Vue({
			el : '#d1',
			data : {
				msg : "hello Vue",
				message : '页面加载于 ' + new Date().toLocaleString(),
				seen : false,
				todos: [
				      { text: '学习 JavaScript' },
				      { text: '学习 Vue' },
				      { text: '整个牛项目' }
				    ]
			},
			methods: {
			    reverseMessage: function () {
			      this.msg = this.msg.split('').reverse().join('')
			    }
			  }
		});
		
	</script>
</html>